body {
    font-size: 18px;
    font-family: fantasy;
    background-color: #ffdfc4;
}

#main {
    width: 95%;
    margin: auto;
    border-spacing: 1em;
}

#header {
    padding: 1em 30px;
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(49, 95, 114);
    color: white;
}

.leftItem {
    float: left;
}

.rightItem {
    float: right;
}

.content {
    padding: 0 0 20px;
    vertical-align: top;
    background-color: white;
}

.contentTable {
    padding: 0 0 50px;
    vertical-align: top;
    background-color: white;
}

.plate_top {
    display: inline-block;
    width: 100%;
    margin: 0 0 20px;
    padding: 0em 0;
    background-color: rgb(49, 95, 114);
    color: white;
    text-align: center;
}

.plate_top_title {
    font-size: 20px;
    font-weight: normal;
}

.graph_image {
    text-align: center;
}

#input {
    width: 95%;
    margin: auto;
    text-align: center;
}

.input_label {
    font-weight: normal;
}

.buttons {
    margin-top: 7%;
    text-align: center;
    margin-bottom: 5%;
}

.buttons::before {
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    margin: 0 auto 4%;
    background-color: rgb(49, 95, 114);
}

.button {
    height: 35%;
    width: 50%;
    color: white;
    background-color: rgb(49, 95, 114);
    font-family: fantasy;
    border: none;
}

.button:hover {
    background-color: violet;
}

#message {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: red;
}

#table {
    width: 95%;
    position: relative;
}

.scroll_container {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 54px;
    width: 100%;
    overflow-y: scroll;
}

#resultTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#resultTable tr th {
    font-size: 16px;
    font-weight: 300;
}

#resultTable tr.table_header:hover {
    background-color: rgb(102, 156, 179);
}

#resultTable tr:nth-child(2n):hover {
    background-color: thistle;
}

#resultTable tr:nth-child(2n) {
    background-color: white;
}

#resultTable tr:nth-child(2n-1) {
    background-color: #f57e7e;
}

#resultTable tr:nth-child(2n-1):hover {
    background-color: #f09d9d;
}

#resultTable tr {
    height: 2em;
}

.coords_col {
    width: 10%;
}

.time_col {
    width: 23%;
}

.validate_col {
    width: 12%;
}

.stocks {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: lighter;
}

#firstHead, #secondHead, #thirdHead, #forthHead, #fifthHead, #sixthHead {
    color: rgb(49, 95, 114);
}

#AAPL, #MSFT, #USD, #IC, #AMZN, #DELL {
    width: 16.67%;
    border: 2px solid rgb(49, 95, 114);
}

.firstValueC, .secondValueC, .thirdValueC, .forthValueC, .fifthValueC, .sixthValueC, .firstValueD, .secondValueD, .thirdValueD, .forthValueD, .fifthValueD, .sixthValueD {
    font-size: 13px;
}

#stockTable {
    padding-bottom: 0;
}